@media (min-width: 1200px) {
  .page {
    margin: 10%;
    margin-left: 28%;
    margin-right: 28%;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #21418991;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 2px;
    border-style: inset;
  }
}
#contact{
  background: url(../../img/contact-us.jpg) no-repeat center;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .page {
    margin: 10%;
    margin-left: 4%;
    margin-right: 4%;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #21418991;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 2px;
    border-style: inset;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .page {
    margin: 10%;
    margin-left: 4%;
    margin-right: 4%;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #21418991;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 2px;
    border-style: inset;
  }
}

@media (max-width: 768px) {
  .page {
    margin-top: 10%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #21418991;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 2px;
    border-style: inset;
  }
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}
